BOT_TOKEN=8963271049:AAFwLFLHRLc9KDuHJ5IX-3b5pExZWGG98Uc
ADMIN_ID=8369041514
CURRENCY=USD
PREMIUM_API_KEY=5hnzarlmxklp5atafzld2jaec0z6lzhv2erogdrgkycw1bb1omdu4vgnzql3ofl4
PREMIUM_SECRET=nk6k0apxpz31yz9cvfei08h4x44ktgjv09ak3rr76nlmxwuc9n3xbjtpghkuzkza

